img.img-size {
    width: 160px;
}

img.wrapper-img{
    width: 70rem;
    height: 28rem;
}

div > span.fstyle{
    font-size: 12px;
    display: none;
}

input:invalid[focused="true"] {
    border: 1px solid #EF7B35;
}

input:invalid[focused="true"] ~ span {
    display: block;
}